.history_wrapper {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  justify-content: center;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);

}

.history_name {
  /* display: flex; */
  /* width: 100%; */
  /* justify-content: c?enter; */
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.history_list {
  display: flex;
  width: 100%;
}

.newOperation {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border: 1px solid #999;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  right: 3%;
  /* padding-bottom: 0 0 0.3rem 0; */
}
